@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '~antd/dist/antd.css'; */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}

/* 
.roomSearch_font {
  font-family: "Inter";
} */
/* .ant-select-selector:hover {
  border-color: #d6d9e4 !important;
}
.ant-select-selector:focus-within {
  border-color: #e76b39 !important;
}
.ant-picker:focus-within {
  border-color: #e76b39 !important;
}
.ant-picker:hover {
  border-color: #d6d9e4 !important;
} */
